



    <!------ Include the above in your HEAD tag ---------->

    <!DOCTYPE html>
    <html>
    <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
            .container{
                margin-top: 50px;
            }
            .btn {
                background-color: white;
                border: none;
                color: white;
                padding: 12px 16px;
                font-size: 16px;
                cursor: pointer;
            }
            .btn:hover {
                background-color: RoyalBlue;
            }
        </style>
    </head>
    <body>

<div class="container">

    <table>
        <tr>

            <th >Firstname</th>
            <th >Lastname</th>
            <th >Gnder</th>
            <th >Country</th>
            <th >username</th>
            <th >Email</th>
            <th>Games</th>
            <th >Modify</th>
        </tr>
        {{#each data}}
        <tr>

            <td>{{firstname}}</td>
            <td>{{lastname}}</td>
            <td>{{gender}}</td>
            <td>{{Select1}}</td>
            <td>{{username}}</td>
            <td>{{email}}</td>
            <td>{{games}}</td>
            <td>
                <form action="/update">
                    <input type="text" name="id" value="{{_id}}" style="display: none" >
                    <input type="submit" value="Edit">
                </form>
            <td><td><a href="#"  class="editEvent" data-id="{{this._id }}">Delete</a></td></td>
            </td>

        </tr>
{{/each}}
    </table>



</div>
    </body>
    </html>






